@charset "UTF-8";

body {
    background-color: rgb(165, 235, 165);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:  rgb(9, 27, 9);
}

h1#principal {
    text-align: center;
}

h2 {
    color:  rgb(26, 77, 26);
}

